pythonstudy.iml
.idea/
.idea
.idea/*

*.zip
longgb/Scripts/PyCode/test_sphinx/test_jd/src
longgb/Scripts/PyCode/test_sphinx/test_jd/src/*
longgb/Scripts/PyCode/test_sphinx/test_jd/src_tt
longgb/Scripts/PyCode/test_sphinx/test_jd/src_tt/*
